# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [25]:
import pandas as pd
import numpy as np

# Seu código aqui
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

serie = pd.Series(data=anomalia, index=ano)
serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [26]:

serie = pd.Series(data=anomalia, index=ano)
serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [27]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serieTempDic = pd.Series(data=dic_temperaturas)
serieTempDic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [28]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dfArr = pd.DataFrame(data=arr)
dfArr

             0           1           2
0   101.860478  101.901017   93.979270
1    91.651079  121.439207   81.486741
2   112.775058   89.824142  101.895691
3   101.172012   93.472919  109.108605
4    93.328932  115.062700  102.005675
5    92.002275   98.081028  109.745590
6   103.380259   92.863787  102.888424
7    93.073503  106.049285  104.192906
8    92.655812  104.622844  109.923906
9   116.577490  102.901296  102.278454
10   85.710091  104.337332   96.342229
11   99.934669  107.057845   91.413308
12   83.518726   84.390443  115.108973
13   86.249376   98.260605  105.099834
14  113.027047   77.158048   97.211011
15  112.851785  106.171827   83.894538
16  101.325470   92.148341   98.892918
17  109.791631  117.830302   94.651522
18  117.795790   80.824785  105.829936
19   93.225502  106.171037  102.239009

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [34]:
#seu código aqui
dfArr = pd.DataFrame(data = {'x1':arr[:,0],
                             'x2':arr[:,1],
                             'x3':arr[:,2]},
                     index = range(1,21)
                    )

dfArr

            x1          x2          x3
1   101.860478  101.901017   93.979270
2    91.651079  121.439207   81.486741
3   112.775058   89.824142  101.895691
4   101.172012   93.472919  109.108605
5    93.328932  115.062700  102.005675
6    92.002275   98.081028  109.745590
7   103.380259   92.863787  102.888424
8    93.073503  106.049285  104.192906
9    92.655812  104.622844  109.923906
10  116.577490  102.901296  102.278454
11   85.710091  104.337332   96.342229
12   99.934669  107.057845   91.413308
13   83.518726   84.390443  115.108973
14   86.249376   98.260605  105.099834
15  113.027047   77.158048   97.211011
16  112.851785  106.171827   83.894538
17  101.325470   92.148341   98.892918
18  109.791631  117.830302   94.651522
19  117.795790   80.824785  105.829936
20   93.225502  106.171037  102.239009

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [35]:
dfArr['media'] = (dfArr['x1'] + dfArr['x2'] + dfArr['x3'])/3.0
dfArr

            x1          x2          x3       media
1   101.860478  101.901017   93.979270   99.246922
2    91.651079  121.439207   81.486741   98.192342
3   112.775058   89.824142  101.895691  101.498297
4   101.172012   93.472919  109.108605  101.251179
5    93.328932  115.062700  102.005675  103.465769
6    92.002275   98.081028  109.745590   99.942964
7   103.380259   92.863787  102.888424   99.710823
8    93.073503  106.049285  104.192906  101.105231
9    92.655812  104.622844  109.923906  102.400854
10  116.577490  102.901296  102.278454  107.252413
11   85.710091  104.337332   96.342229   95.463217
12   99.934669  107.057845   91.413308   99.468607
13   83.518726   84.390443  115.108973   94.339381
14   86.249376   98.260605  105.099834   96.536605
15  113.027047   77.158048   97.211011   95.798702
16  112.851785  106.171827   83.894538  100.972717
17  101.325470   92.148341   98.892918   97.455576
18  109.791631  117.830302   94.651522  107.424485
19  117.795790   80.824785  105.829936  101.483504
20   93.225502  106.171037  102.239009  100.545183

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [39]:
# seu código aqui
dfArr['log_media'] = np.log(dfArr['media'])
dfArr

            x1          x2          x3       media  log_media
1   101.860478  101.901017   93.979270   99.246922   4.597611
2    91.651079  121.439207   81.486741   98.192342   4.586928
3   112.775058   89.824142  101.895691  101.498297   4.620042
4   101.172012   93.472919  109.108605  101.251179   4.617604
5    93.328932  115.062700  102.005675  103.465769   4.639241
6    92.002275   98.081028  109.745590   99.942964   4.604600
7   103.380259   92.863787  102.888424   99.710823   4.602274
8    93.073503  106.049285  104.192906  101.105231   4.616162
9    92.655812  104.622844  109.923906  102.400854   4.628895
10  116.577490  102.901296  102.278454  107.252413   4.675185
11   85.710091  104.337332   96.342229   95.463217   4.558741
12   99.934669  107.057845   91.413308   99.468607   4.599842
13   83.518726   84.390443  115.108973   94.339381   4.546899
14   86.249376   98.260605  105.099834   96.536605   4.569922
15  113.027047   77.158048   97.211011   95.798702   4.562249
16  112.851785  106.171827   83.894538  100.972717   4.614850
17  101.325470   92.148341   98.892918   97.455576   4.579397
18  109.791631  117.830302   94.651522  107.424485   4.676788
19  117.795790   80.824785  105.829936  101.483504   4.619896
20   93.225502  106.171037  102.239009  100.545183   4.610607